<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../../Home/Media/stay.PNG" style="border-radius: 100%;">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="../css/explore.css">
    <link rel="stylesheet" href="../css/favorities.css">
</head>
<body>

    <div class="page-overlay">
        <div class="loader-container">
            <div class="loader"></div>
        </div>
    </div>

    <!-- Floating Animated Particles -->
    <div class="floating-particles"></div>



    <div class="mcontainer">
        <header1>
            
            <a href="../Html/explore.html" class="back-button">
                <i class="fas fa-arrow-left"></i> Back to StayAtlas
            </a>
            <br><br>
            <h1 class="favorites-heading">Your Favorite Villas</h1>
        </header1>
        
        <div class="property-grid fade-in" id="favoritesList"></div>
    </div>

    <script src="../js/favorites.js"></script>
</body>
</html>
